<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- base.xml default.xml 에 존재하는 Log 메시지의 Color 설정 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <!-- 외부 변수 -->
    <property resource="logback-variables.properties" />
    <timestamp key="Today" datePattern="yyyyMMdd" />

    <!-- 콘솔에 출력되는 로그 패턴 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS}  [%23thread]  %clr(%5level)  %cyan(%logger) - %msg%n"/>

    <!-- Log파일에 기록되는 로그 패턴 -->
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}  [%23thread]  %5level  %logger - %msg%n"/>

    <!-- 콘솔 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- INFO + DEBUG 통합 로그 파일 -->
    <appender name="FILE_COMBINED" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app/${Today}_${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app/%d{yyyyMMdd}_${LOG_FILE_NAME}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ERROR 전용 로그 파일 -->
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${LOG_PATH}/error/${Today}_${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error/%d{yyyyMMdd}_${LOG_FILE_NAME}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Hibernate SQL & 바인딩 로그 (DEBUG로 찍힘) -->
    <logger name="org.hibernate.SQL" level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE_COMBINED" />
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE_COMBINED" />
    </logger>

    <!-- 전체 로그 루트 설정 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE_COMBINED" />
        <appender-ref ref="FILE_ERROR" />
    </root>

    <!-- dev Profile에서의 로그 설정 -->
    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_COMBINED" />
            <appender-ref ref="FILE_ERROR" />
        </root>
    </springProfile>

    <!-- prod Profile에서의 로그 설정 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_COMBINED" />
            <appender-ref ref="FILE_ERROR" />
        </root>
    </springProfile>

</configuration>